@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

body {
  background: lightblue;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 30px;
  top: 0;
  left: 0;
  background-color: hsla(225, 100%, 25%, 0.4);
  color: white;
  font-family: 'Exo 2', sans-serif;
  padding: 1em;
 
}
}

#welcome-section {
  height: 100px;
}

#welcome-section  h1{
  height: 100vh;
  text-align: center;
}

#projects {
  display: flex;
  flex-direction: row;
  height: 50px;
}

#project-tile {
  border: 10px solid white;
  background-color:crimson;
  height: 50px;
  width: 200px;
  font-size: 30px;
}

#filling {
  background-color: lightblue;
  height: 50px;
  width: 200px;
}

#filling1 {
  background-color: lightblue;
  height: 50px;
  width: 80px;
}


#profile-link {
  border: 10px solid white;
  background-color: lightgreen;
  height: 50px;
  width: 200px;
  font-size: 27px;
}
